/* only red hot button style started here */

.update{
    display: flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    left:80%;
    top:-3%;
    
    
    
    
    

}



.red-btn{
   
    background-color: red;
    /* position: absolute;
    top: 80%; */
   
    border-radius: 50%;
    border: none;
    
    
   
}